{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


a {
	color :white
}


.arabic{
	text-align: right;
}
.mobileShow { display: none;}
   /* Smartphone Portrait and Landscape */
   @media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){ .mobileShow { display: inline;}}


   .mobileHide { display: inline;}
   /* Smartphone Portrait and Landscape */
   @media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){  .mobileHide { display: none;}}

   

</style>
	<link href="{% static 'css/style2.css' %}" rel="stylesheet">
<main>



<div class="p-3 text-center	">
    <h1 class="mb-3">شركة اليم الحديثة</h1>
    <h4 class="mb-3">لبيع الملابس الجاهزة بالجملة</h4>


  
	<div class="btn-group mobileHide" role="group" aria-label="Basic example">
		<button type="button" class="btn btn-primary"><a  href="/products/"><h3 style="color: white;" class="text-center">كتالوج المنتجات</h3></a></button>
		<button type="button" class="btn btn-primary"><a  href="/admin/"><h3 style="color: white;" class="text-center">موظف</h3></a></button>
	  </div> 

	<div class = "mobileShow">
	<button type="button" class="btn btn-primary btn-lg btn-block"><a style="color: white;" href="/products/"><h3 class="text-center">كتالوج المنتجات</h3></a></button>
	<button type="button" class="btn btn-primary btn-lg btn-block"><a style="color: white;" href="/admin/"><h3 class="text-center">موظف</h3></a></button>
  </div>

  </div>


<section id="about" class="about">
	<div class="container" data-aos="fade-up">

	  <div class="section-title">
		<h2>من نحن</h2>
	  </div>

	  <div dir="rtl" class="row content">

		<div style="font-size: 20px;" class="col-lg-6 pt-4 pt-lg-0 arabic" >
			<p>
				بدات شركه اليم كمؤسسة سعودية مختصه في بيع الملابس بالجملة و من ثم تحولنا الى شركة لتحقيق المزيد من الرياده و التفوق و هدفنا ان نجعل شركتنا في مصاف الشركات العالمية في بيع الملابس النسائية بالجملة 
			</p>
		  
		  </div>

	
		<div style="font-size: 20px;" class="col-lg-6 arabic">
		  <p>
			تتميز شركة بأن لها مصنعها الخاص في الصين و الذي من خلاله تتميز و تبدع في اطلاق موديلات و اشكال مختلفة عن السوق
		  </p>
		  <ul >
			<li> أكثر من 20 عاما من الخبرة</li>
			<li> قماش عالي الجودة</li>
			<li> مجموعة متنوعة للغاية</li>
		  </ul>
		</div>
	
	
	  </div>

	</div>
  </section><!-- End About Us Section -->


  <section id="contact" class="contact">
	<div class="container" data-aos="fade-up">

	  <div class="section-title">
		<h2>تواصل معنا</h2>
	  </div>

	  <div class="row">

		

		<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
		  <form dir="rtl" action="" method="post" role="form" class="php-email-form">
			{% csrf_token %}
			<div  class="row">
			  <div class="form-group col-md-6 arabic">
				<label for="name">بريدك الالكتروني</label>
				<input type="email" class="form-control" name="email_address" id="email" required>
			  </div>
			  <div class="form-group col-md-6 arabic">
				<label for="name">اسمك</label>
				<input type="text" name="name" class="form-control" id="name" required>
			  </div>
			
			</div>
			<div class="form-group arabic">
			  <label for="name">الموضوع</label>
			  <input type="text" class="form-control" name="subject" id="topic" required>
			</div>
			<div class="form-group arabic">
			  <label for="name">الرسالة</label>
			  <textarea class="form-control" name="message" rows="10" required></textarea>
			</div>
			<div class="my-3">
			  <div class="loading">Loading</div>
			  <div class="error-message"></div>
			  <div class="sent-message">Your message has been sent. Thank you!</div>
			</div>
			<div class="text-center"><button type="submit">أرسل الرسالة</button></div>
		  </form>
		</div>

		<div class="col-lg-5 d-flex align-items-stretch">
			<div class="info">
				
			  <div class="address arabic" >
				<i class="fas fa-map-marked-alt"></i>	
				<h4>:موقعنا</h4>
				<p>جدة , المملكة العربية السعودية</p>
			  </div>
  
			  <div class="email arabic" >
				<i class="far fa-envelope"></i>
				<h4>:بريدنا الإلكتروني</h4>
				<p>alym@example.com</p>
			  </div>
  
			  <div class="phone arabic" >
				<i class="fas fa-phone"></i>
				<h4>:اتصل بنا</h4>
				<p>+966 535 5 535 51</p>
				
			  </div>
  
			  <iframe <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3711.8499078815307!2d39.168195314940924!3d21.513598185737685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3cf9a606c9fc5%3A0x1e6f59bc54c4cc19!2z2LTYsdmD2Kkg2KfZhNmK2YUg2KfZhNit2K_Zitir2Kk!5e0!3m2!1sen!2str!4v1648577080014!5m2!1sen!2str"
			   frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
			</div>
  
		  </div>

	  </div>

	</div>
  </section><!-- End Contact Section -->





</main>
	

{% endblock content %}
