{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<style type="text/css">
  input[type="text"]:-moz-placeholder {
      text-align: right;
  }
  input[type="text"]:-ms-input-placeholder {
      text-align: right;
  }
  input[type="text"]::-webkit-input-placeholder {
      text-align: right;
  }
  input[type="password"]:-moz-placeholder {
      text-align: right;
  }
  input[type="password"]:-ms-input-placeholder {
      text-align: right;
  }
  input[type="password"]::-webkit-input-placeholder {
      text-align: right;
  }
  
  </style>
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <h1 style = "text-align: right;">{% trans "إنشاء حساب" %}</h1>
            <p style="text-align: right;"> هل لديك حساب؟ ثم الرجاء <a href="{% url 'account_login' %}">تسجيل الدخول</a>.</p>

            <form dir="rtl" id="login-form" method="post" action="{% url 'users:register' %}">
              {% csrf_token %}
              <div class="form-group" style="text-align: right;">
                <label for="exampleInputEmail1">اسم المستخدم</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="اسم المستخدم">
              </div>
              <div class="form-group" style="text-align: right;">
                <label for="email">بريد الكتروني</label>
                <input type="text" name="email" class="form-control" id="email" placeholder="بريد الكتروني">
              </div>
              <div class="form-group" style="text-align: right;">
                <label for="exampleInputPassword1">كلمة المرور</label>
                <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="كلمة المرور">
              </div>
              <div class="form-group" style="text-align: right;">
                <label for="exampleInputPassword2">كلمة المرور مجدداً</label>
                <input type="password" name="password2" class="form-control" id="exampleInputPassword2" placeholder="كلمة المرور مجدداً">
              </div>
              <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

              {% if form.errors %}
                    <p style="text-align: right;" class=" label label-danger">
                        بعض الحقول مفقودة أو غير صحيحة
                    </p>
                {% endif %}

              <input type="submit" value="إنشاء حساب" 
              class="btn btn-primary pull-right" />
               <input type="hidden" name="next" value="{{ next }}" />
            </form>
      
          
            <!-- <form id="login-form" method="post" 
            action="{% url 'users:register' %}">
                {% csrf_token %}
            
  
                <table class="table">
                    <tr>
        
                        <td><input id="id_username" name="username" 
                                   type="text" class="form-control"></td>
                        <td><label for="id_username">اسم المستخدم</label></td>
                    </tr>
                    
                    <tr>
                        <td><input id="id_email" name="email" 
                                   type="text" class="form-control"></td>
                        <td><label for="id_password">عنوان بريد الكتروني</label></td>
                    </tr>
                    <tr>
                        
                      <td><input id="id_password1" name="password1" 
                                 type="password" class="form-control"></td>
                      <td><label for="id_password">كلمة المرور</label></td>
                  </tr>
                  <tr>
                        
                      <td><input id="id_password2" name="password2" 
                                 type="password" class="form-control"></td>
                      <td><label for="id_password">كلمة السر مجدداً</label></td>
                  </tr>
                </table>
                {% if form.errors %}
                    <p style="text-align: right;" class=" label label-danger">
                        بعض الحقول مفقودة أو غير صحيحة
                    </p>
                {% endif %}

                <input type="submit" value="تسجيل الدخول" 
                class="btn btn-primary pull-right" />
         <input type="hidden" name="next" value="{{ next }}" />
            </form> -->
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
