{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <h1 style = "text-align: right;">{% trans "إنشاء حساب" %}</h1>
            <p style="text-align: right;"> هل لديك حساب؟ ثم الرجاء <a href="{% url 'account_login' %}">تسجيل الدخول</a>.</p>
      
          
            <form id="login-form" method="post" 
            action="{% url 'users:register' %}">
                {% csrf_token %}
            
  
                <table class="table">
                    <tr>
        
                        <td><input id="id_username" name="username" 
                                   type="text" class="form-control"></td>
                        <td><label for="id_username">اسم المستخدم</label></td>
                    </tr>
                    
                    <tr>
                        <td><input id="id_email" name="email" 
                                   type="text" class="form-control"></td>
                        <td><label for="id_password">عنوان بريد الكتروني</label></td>
                    </tr>
                    <tr>
                        
                      <td><input id="id_password1" name="password1" 
                                 type="password" class="form-control"></td>
                      <td><label for="id_password">كلمة المرور</label></td>
                  </tr>
                  <tr>
                        
                      <td><input id="id_password2" name="password2" 
                                 type="password" class="form-control"></td>
                      <td><label for="id_password">كلمة السر مجدداً</label></td>
                  </tr>
                </table>
                {% if form.errors %}
                    <p style="text-align: right;" class=" label label-danger">
                        بعض الحقول مفقودة أو غير صحيحة
                    </p>
                {% endif %}

                <input type="submit" value="تسجيل الدخول" 
                class="btn btn-primary pull-right" />
         <input type="hidden" name="next" value="{{ next }}" />
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
