{% extends 'product_catalog_app/base.html' %}
{% load static %}
{% block content %}

<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				{% csrf_token %}
				<form method = 'post'  action="{% url 'product_catalog_app:login_form' %}"
			
				 class="login100-form validate-form">
                 {% csrf_token %}
					<span class="login100-form-title p-b-70">
						أهلا بك
					</span>
				

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
						<input class="input100" type="password" name="passcode">
						<span class="focus-input100" data-placeholder="الكود"></span>
					</div>

                    <br>
					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="text" name="name">
						<span class="focus-input100" data-placeholder="الاسم"></span>
					</div>
<br/>
					<div class="container-login100-form-btn">
						<button name = "submit" class="login100-form-btn">
							دخول
						</button>
						<input type="hidden" name="next"
						value="{% url 'product_catalog_app:index' %}" />
					</form>
					</div>

                    <br/>
					<ul class="login-more p-t-190">
                        {% if form.errors %}
                        <li class="m-b-8">
							<span class="txt1">
                        
                                <p style = "color:red">The code you entered is wrong. Please try again.</p>
							</span>
						</li>
                        {% endif %}
						<li class="m-b-2">
							<span class="txt1">
								للحصول على رمز يرجى التواصل معنا
							</span>
						</li>
                     
				
					</ul>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
{% load static %}
	<script  src="{%  static  'vendor/jquery/jquery-3.2.1.min.js'  %}"></script>
<!--===============================================================================================-->
{% load static %}
	<script   src="{%  static  'vendor/animsition/js/animsition.min.js'  %}"></script>
  
<!--===============================================================================================-->

<!--===============================================================================================-->
{% load static %}
	<script src="{%  static  'vendor/select2/select2.min.js'  %}"></script>
<!--===============================================================================================-->
{% load static %}
	<script  src="{%  static  'vendor/daterangepicker/moment.min.js'  %}"></script>
{% load static %}
	<script src="{%  static  'vendor/daterangepicker/daterangepicker.js'  %}"></script>
<!--===============================================================================================-->
{% load static %}
	<script src="{%  static  'vendor/countdowntime/countdowntime.js'  %}"></script>

	
  
<!--===============================================================================================-->
{% load static %}
<script src="{%  static  'js2/main.js'  %}"></script>

{% endblock content %}