{% load static %}


<style>
	.topbar {
		background-color: white;
		color: black !important;
	}
	.topbar a:hover{
		color: black;
	}
</style>
<!-- Header -->
<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fab fa-facebook"></a>
					<a href="#" class="topbar-social-item fab fa-instagram"></a>
					<a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fab fa-twitter"></a>
					<a href="#" class="topbar-social-item fab fa-youtube"></a>
				</div>
				

			

				<div class="topbar-child2">
					<span class="topbar-email">
						<a href="">
						Sales@AlYam.com
					    </a>
					</span>

			
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo" >
					<img src="{% static 'images/Logo/Logo.png' %}" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				
				<!-- Header Icon -->
				<div class="header-icons">
				

				

						<!-- Header cart noti -->
						
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
		
			<a href="" class="logo-mobile">
				<img class="center-block" src="{% static 'images/Logo/Logo.png' %}" alt="IMG-LOGO">
			</a>
		
		</div>

		<!-- Menu Mobile -->

	</header>